body{
    background: url("back.jpeg");
    background-size: cover;
}
.back_col{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    width: 300px;
}
.heading{ 
   font-size: 23px;
   width: 100%;
   margin: 0px;

}
#menu_button{
    float: left;
}
#page_2{
   margin-right: 25%;
   float : bottom;
}
#song_{
    width:300px
}
canvas{
    width: 500px;
    height: 400px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px gray;
    margin-top:  160px;

}